<h1 align = "center">Sign Up!</h1>
<br>
<h4 align = "center">
  <%= " Or if you are #{UsersHelper.adjective}, and have an account,
        go ahead and " %>
  <%= link_to "Sign In!", new_session_url, method: :get %>
</h4>
<%= render 'form', user: @user, submit_text: "Sign Up" %>
