/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

$header_height_pixels: 60;

.container * {
  margin: 0;
}

.container {
  padding: 0;
  margin: 0 auto;
  border: 0;
  width: 850px;
  overflow: hidden;
}

textarea {
  resize: none;
}

ul {
  list-style-type: none;
}

header h2 {
  margin: 0;
}

.credentials-form {
  height: 90%;
}

.credentials-form * {
  margin: 28px auto;
  text-align: center;
}

.credentials-form .my-input {
  width: 30%;
}

.credentials-form input {
  display: block;
}

.credentials-form .jumbotron {
  margin-top: 0;
}

.errors {
  color: red;
}

////////////////////////////////////////////////////////////////////////////////
.message-index {
  margin: auto;
  width: 80%;
  padding: 5% 5%;
  border: 0;
  height: 90vh;
  overflow-y: scroll;
}

.message-index ul {
  position: relative;
  margin:auto;
  width: 100%;
  padding: 0;
  top: 10px;
}

.message {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-: 10px;
}

.msg-sender {
  float:left;
}

.msg-created {
  float: right;
}

.msg-body {

}

.conversation ul {
  position: relative;
  margin:auto;
  width: 100%;
  padding: 0;
  top: 10px;
}

.message-form {
  position:relative;
  width: 55%;
  float: left;
  margin: auto;
  height: 80vh;
  top: 36px;
}

.conversation {
  position: relative;
  padding: 0;
  border: 2px solid black;
  height: 60vh;
  overflow-y: scroll;
  width: 90%;
  margin: 0 auto;

}

.message-form textarea {
  position: relative;
  padding: 0;
  top: 20px;
  width: 90%;
  height: 10%;
  margin: 0 auto;
  display: block;
}



.event-form input {
  position: relative;
  width: 90%;
  left: 5%;
}
.event-form button {
  position: relative;
  left: 5%;
}

.event-form h3 {
  position: relative;
  left: 5%;
}


.sendMessage {
  position:relative;
  left: 68%;

}
////////////////////////////////////////////////////////////////////////////////

.bar {
  width: 20%;
  height:92vh;
  background-color: #880000;
  overflow-y: scroll;
}

.left-bar {
  float: left;
  background-color: white;
}

.bar a {
  color: black;
  text-decoration: none;
}

.bar a:hover {
  color: black;
  text-decoration: none;
}

.bar a:visited {
  color: black;
  text-decoration: none;
}

.top-excess {
  width: 100%;
  height: $header_height_pixels + px;
  background:  #880000;//linear-gradient(to bottom right, #990000, #660000);
  opacity: 1;
}

.top-bar {
  overflow: visible;
  width: 850px;
  height: $header_height_pixels + px;
  margin: auto;
  opacity: 1;
}

.top-bar * {
  display: inline-block;
  width: 20%;
  height: 100%;
  float:left;
  color: white;
  text-align: center;
}

.top-menu-div {
  position: relative;
  width: auto;
  margin: 0px 27px;
}

.top-bar .glyphicon {
  padding-right: 5px;
}

.top-bar span {
  width: auto;
}

.top-bar > a {
  position: relative;
  padding: 5px;
  top: 15px;
  height: 30px;
  margin: 0 2%;
  width: 16%;
  color: white;
  border-radius: 2px;
}

.top-bar > a:visited {
  color: white;
}

.top-bar > a:hover {
  color: white;
  background: #550000;
}

.top-bar input {
  width: 100%;
  background: white;
  color: black;
  height: 36px;
  border-radius: 3px;
}

div.nav-search {
  padding: 15px 0px;
}

.search-list {
  position: relative;
  overflow: visible;
  z-index: 1;
  padding: 0;
  opacity: 1;
}

div.search-list {
  width: 100%;
  border: 0;
  opacity: 1;
  padding: 0;
}

.search-list ul {
  background-color: #EEEEEE;
  opacity: 1;
  width: 100%;
  height: auto;
  padding: 0;
}

.search-list li {
  opacity: 1;
  border-radius: 4px;
  color: black;
  width: 100%;
}

.search-list a {
  color:black;
  padding: 0px;
}

.search-list li:hover {
  background: red;
  color: white;
  width: 100%;
}

.nav {
  // background-color: #A80000;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  padding: 7px;
  border-radius: 4px;
}

.left-bar .nav {
  margin-top: 20%;
  margin-bottom: 10%;

  width: 92%;
  background: white;
  border: solid 1px red;
}

.nav div {
  padding: 10px;
  width: 100%;
  height: 100%;
}

.nav:hover {
  background: linear-gradient(to bottom right, #FF0000, #BB0000);
  color: white;
}

.nav.selected {
  background: linear-gradient(to bottom right, #FF0000, #BB0000);
  color: white;
}

.user-list {
  position: relative;
  border-radius: 4px;
  top: 36px;
  height: 500px;
  float:left;
  background-color: #BBBBBB;
  overflow-y: scroll;
}

.nav-friend {
  margin-bottom: 4px;
  border: 1px solid red;
}


.map {
  height: 200px;
  width: 200px;
}

.profile {
  position: relative;

  width: 80%;
  float: left;
  height: 700px;
}

.profile .status-form {
  float: right;
  width: 67%;
}

.profile-menu {
  width: 67%;
  float: right;
  height: 46px;
}

.profile-menu div {
  width: 25%;
  float: left;
  padding: 13px;
  text-align: center;
  cursor:pointer;
}

.profile-menu:after {
  content: "";
  display:block;
  clear: both;

}


.prof-pic {
  float: left;
  height: 200px;
  width: 200px;
}

//////////////////////////////large comment box/////////////////////////////////

.status-form {
  position: relative;
  background: #BBBBBB;
  margin: auto;
  width: 100%;
  height: 154px;
  border: outset 2px;
}

textarea.status-text {
  margin-top: 0px;
  width: 100%;
  height: 100px;
}

.status-button {
  position: relative;
  bottom: 15px;
  left: 75%;
}

button {
  height: 30px;
  width: 100px;
}

////////////////////////////////////////////////////////////////////////////////


.nf-status-form .status-form {
  position: relative;
  top: 0px;
  margin-bottom: 30px;
}

.my-events {
  position: relative;
  top: 36px;
  float: right;
  width: 75%;
  border: solid black 1px;
}
////////////////////////////////////////////////////////////////////////////////

.pic-viewer{
  float: left;
  width: 80%;
  height: 85%;
  border: 1px solid black;
}

.pic-container {
  height: auto;
  width: 100%;
  background: black;
}

.picture {
  width: 100%;
  height: auto;
  display: block;
}

.pic-comment{
  position: relative;
}

////////////////////////////////////////////////////////////////////////////////


.news-feed {
  height: (800 - $header_height_pixels) + px;
  float: left;
  width: 80%;
  background: #DDDDDD;
}

.news-feed .status-form {
  position: relative;
  top: 33px;
}

.news-feed .friend-activity {
  top: 8%;
}

.friend-activity {
  overflow-y: scroll;
  position:relative;

  width: 90%;
  height: 575px;
  margin:auto;
}

.friend-activity ul {
  background: #BBBBBB;
  padding: 0px;
  border-radius: 2px;
}
.friend-activity li {
  margin: auto;
  width: 90%;
}

////////////////////////////////////////////////////////////////////////////////

.comment {
  background: white;
  margin-bottom: 10px;
  // border: 1px solid green;
}

.main-comment {
  position:relative;
  border: outset 1px;
}

.main-comment:after {
  content: "";
  display:block;
  clear: both;
}

.comment-header:after {
  content: "";
  display:block;
  clear: both;
}

.comment-menu:after {
  content: "";
  display:block;
  clear: both;
}

.comment-body {
  position: relative;
}

.comment-header * {
  display: inline-block;
}

.comment-body > * {
  width: 100%;
}

.comment-menu {
  position: absolute;
  bottom: 0;
  background: #BBBBBB;
}

.comment-menu > * {
  cursor:pointer;
  float: left;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.comment-menu > *:hover {
  color: red;
}
.time {
  float: right;
}

.author {
  float: left;
}

.comment .prof-pic {
  position: relative;
  float:left;
  top: initial;
  left: initial;
}

.comment-body {
  float:left;
}

.trashcan {
  position: absolute;
  display: none;
}

.main-comment:hover > .trashcan {
  display: block;
}



////////////////////////////////////////////////////////////////////////////////

.my-event:after {
  content: "";
  display:block;
  clear: both;
}

.Events {
  width: 680px;
  float: right;
}

.Events .bar {
  width: 170px;
  float: left;
}

.event-detail {
  // width:
  float: left;
  width: 510px;
  position: relative;
  top: 33px;
  padding-left: 10px
}

////////////////////////////////////////////////////////////////////////////////

.inbox-welcome {
  position: relative;
  top: 33px;
  width: 510px;
  padding: 10px;
  float: right;
  // height: 500px;
}
